html, body {
margin:0;
height:100%;
}

@-webkit-keyframes flicker {
  0% {
    opacity: 0.11682;
  }
  5% {
    opacity: 0.7991;
  }
  10% {
    opacity: 0.69371;
  }
  15.0% {
    opacity: 0.3453;
  }
  20% {
    opacity: 0.42063;
  }
  25% {
    opacity: 0.16416;
  }
  30.0% {
    opacity: 0.76582;
  }
  35% {
    opacity: 0.44905;
  }
  40% {
    opacity: 0.19739;
  }
  45% {
    opacity: 0.98695;
  }
  50% {
    opacity: 0.42632;
  }
  55.0% {
    opacity: 0.66737;
  }
  60.0% {
    opacity: 0.72871;
  }
  65% {
    opacity: 0.85443;
  }
  70% {
    opacity: 0.57251;
  }
  75% {
    opacity: 0.36625;
  }
  80% {
    opacity: 0.00617;
  }
  85% {
    opacity: 0.39597;
  }
  90% {
    opacity: 0.63779;
  }
  95% {
    opacity: 0.9686;
  }
  100% {
    opacity: 0.98071;
  }
}
.container {
  background: #121010;
  width: 100%;
  height: 100%;
  position: relative;
  overflow: hidden;
}
.container::after {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: rgba(18, 16, 16, 0.1);
  opacity: 0;
  z-index: 2;
  pointer-events: none;
}
.container::before {
  content: " ";
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: linear-gradient(rgba(18, 16, 16, 0) 50%, rgba(0, 0, 0, 0.25) 50%), linear-gradient(90deg, rgba(255, 0, 0, 0.06), rgba(0, 255, 0, 0.02), rgba(0, 0, 255, 0.06));
  z-index: 2;
  background-size: 100% 2px, 3px 100%;
  pointer-events: none;
}

.turned-on .container::after {
  -webkit-animation: flicker 0.15s infinite;
}

@-webkit-keyframes turn-on {
  0% {
    -webkit-transform: scale(1, 0.8) translate3d(0, 0, 0);
    -webkit-filter: brightness(30);
    filter: brightness(30);
    opacity: 1;
  }
  3.5% {
    -webkit-transform: scale(1, 0.8) translate3d(0, 100%, 0);
  }
  3.6% {
    -webkit-transform: scale(1, 0.8) translate3d(0, -100%, 0);
    opacity: 1;
  }
  9% {
    -webkit-transform: scale(1.3, 0.6) translate3d(0, 100%, 0);
    -webkit-filter: brightness(30);
    filter: brightness(30);
    opacity: 0;
  }
  11% {
    -webkit-transform: scale(1, 1) translate3d(0, 0, 0);
    -webkit-filter: contrast(0) brightness(0);
    filter: contrast(0) brightness(0);
    opacity: 0;
  }
  100% {
    -webkit-transform: scale(1, 1) translate3d(0, 0, 0);
    -webkit-filter: contrast(1) brightness(1.2) saturate(1.3);
    filter: contrast(1) brightness(1.2) saturate(1.3);
    opacity: 1;
  }
}
@-webkit-keyframes turn-off {
  0% {
    -webkit-transform: scale(1, 1.3) translate3d(0, 0, 0);
    -webkit-filter: brightness(1);
    filter: brightness(1);
    opacity: 1;
  }
  60% {
    -webkit-transform: scale(1.3, 0.001) translate3d(0, 0, 0);
    -webkit-filter: brightness(10);
    filter: brightness(10);
  }
  100% {
    -webkit-animation-timing-function: cubic-bezier(0.755, 0.05, 0.855, 0.06);
    -webkit-transform: scale(0, 0.0001) translate3d(0, 0, 0);
    -webkit-filter: brightness(50);
    filter: brightness(50);
  }
}
.screen {
  width: 100%;
  height: 100%;
  border: none;
}

.container > .screen {
  -webkit-animation: turn-off 0.55s cubic-bezier(0.23, 1, 0.32, 1);
  -webkit-animation-fill-mode: forwards;
}

.turned-on .container > .screen {
  -webkit-animation: turn-on 4s linear;
  -webkit-animation-fill-mode: forwards;
}

@-webkit-keyframes overlay-anim {
  0% {
    visibility: hidden;
  }
  20% {
    visibility: hidden;
  }
  21% {
    visibility: visible;
  }
  100% {
    visibility: hidden;
  }
}
.overlay {
  color: #00FF00;
  position: absolute;
  top: 20px;
  left: 20px;
  font-size: 60px;
  visibility: hidden;
  pointer-events: none;
  font-family: monospace; 
}

.turned-on .container .overlay {
  -webkit-animation: overlay-anim 5s linear;
  -webkit-animation-fill-mode: forwards;
}
