@import	'nib'
@import 'fonts'
@import 'spritesheet'
@import 'variables'

#index
	background #000
	color #FFF
	// background-image url(CDN_BASEPATH/assets/images/opa.png?noCache=NO_CACHE_VAR)
	padding 30px
	overflow hidden